/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/*  -> we always use em for media queries*/
/* ********************************  */
/* For small_tablets(Below 670px) ->  670px/16px = 41.875em */
/* ******************************** */
@media (max-width: 41.875em) {
  /* 8px/16px =  56.25*/

  html {
    font-size: 56.25%;
  }
  .section-recipe {
    padding: 0;
  }
  .recipe-container {
    padding: 0;
  }
  .recipe-nutrition-table {
    overflow: hidden;
  }
  .recipe-content-box {
    padding: 2rem;
    background-color: #fff;
  }
  .omelette-img-box {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 1.2rem;
  }
  .ul-list,
  .ol-list {
    gap: 1rem;
  }
  td,
  th {
    padding-right: 12rem;
  }
}
